body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: aliceblue;
}

form{
    width: 100%;
}

legend{
    text-align: center;
}

.back, a{
    margin: 5px;
    background-color: #F3CFC6;
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}